* {
    box-sizing: boder-box;
    padding: 0;
    margin: 0;
    }

     :root {
    --blue: #3EA1DB;
    --blue-dark: #ff5816;
    --white: #FFF;
  
    --title: #313131;
    --text: #B6B6B6;
    
    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
  }
  
  #nomeDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    body{
        background-color: var(--white) ;
     }

    .container{
      
        background-color: var(--blue-dark);
        height: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
         
    }
    
.ti{
    background-color: var(--blue-dark);
        padding: 50px;
        display: flex;
        justify-content: space-between;
        font-size: 100px;

    

padding: 20px;
color: var(--white);
} 
   

form{
    background: var(--text);
    height: 100px;
    border-radius: 5px;
    padding-top: 1px;
    padding: 10px;
}

form input,form button{
    font-size: 1.2em;
    border-radius: 0.1em;
    border: none;
    padding: 0.2em;
}

form button{
    cursor: pointer;
    background: none;
    color: var(--white);

}
form button:hover{
    background: var(--blue-dark);
    color: var(--white);
}
form input{
    background: var(--text);
}


.publi{
 
    background: var(--text);
    margin: 30px;
    height: 0px;
    border-radius: 30px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.publi .date{
    margin: -10px;
    display: flex;
   justify-content: end;
    
}
.publi .titulo-publi{
   
    margin-top: 15px;
    font-size: 20px;

}
.publi .cont-publi{
    margin-top: 10px;
    font-size: 20px;
}

body{
    background-color: black;
}