@media screen and (max-width: 578px) {

    .ti{
        font-size: 35px;
    }

    .publi .titulo-publi {
       position: absolute;
       width: 300px;
       top: 1px;
       left: 10px;
       font-size: 13px; 
    }

    .publi .cont-publi{
        position: relative;
        width: 250px;
        height: 85px;
        top: 1px;
        left: -90px;
        font-size: 11px; 
    }

    .publi .date{
        position: absolute;
        top: 190px;
        left: 230px;
        font-size: 10px;
    }
}